/* ============================
            Font Family 
==============================*/
@import url("https://fonts.cdnfonts.com/css/gill-sans-2?styles=97268,97270,97265,97267,97260,97269,97262");
@font-face {
  font-family: Gill-Sans;
  src: url(../font/gill-sans/Gill\ Sans.otf);
}
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
.font-garamond {
  font-family: "EB Garamond", serif;
}
/* ============================
            General 
==============================*/
body {
  background-color: aliceblue;
  font-family: Gill-Sans;
  font-size: 16px;
}
.ticket {
  background-image: url("../../src/assets/Ticket.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  aspect-ratio: 3 / 4;
  overflow: hidden;
}
.yellow-notif::before {
  content: "";
  background-color: #ffc700;
  height: 70px;
  width: 4px;
  position: absolute;
  left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.yellow-notif h1::after {
  content: "";
  background-image: url("../../src/assets/alert-circle-yellow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}
.red-notif h1::after {
  content: "";
  background-image: url("../../src/assets/alert-circle-red.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}
.red-notif::before {
  content: "";
  background-color: #a30000;
  height: 70px;
  width: 4px;
  position: absolute;
  left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.detail-notification {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.activity-history {
  height: 70vh;
  overflow-y: scroll;
}
/* width */
.activity-history::-webkit-scrollbar {
  width: 0;
}

/* Track */
.activity-history::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.activity-history::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
.activity-history::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.list-service .thumbnail {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.list-service .thumbnail::after {
  content: "";
  height: 100%;
  z-index: -1;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.4009978991596639) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
.dry-cleaning {
  background-image: url("../../src/assets/Dry-Clean-1.png");
}
.loundry {
  background-image: url("../../src/assets/Laundry-1.png");
}
.household {
  background-image: url("../../src/assets/Household-1.png");
}
.daily-open .open-strore {
  color: #06ba23;
}
.accordion-find-all-store {
  height: 70vh;
  overflow-y: scroll;
}
.daily-open h1 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.time-store {
  display: none;
}
.daily-open h1:after {
  content: "";
  width: 15px;
  height: 1px;
  background-color: #000;
}
.accordion-card-store.active .time-store {
  display: block;
}
.accordion-find-store .thumbnail img {
  height: 133px;
  width: 133px;
  object-fit: cover;
  object-position: center;
}
.accordion-card-store.active .arrow-hide {
  display: none;
}
.accordion-find-store .active-date {
  border-bottom: 1px solid #9e7f32;
}
.accordion-find-store .accordion-card-store.active .hide-mobile {
  display: none;
}
.accordion-find-store .accordion-card-store.active button {
  margin-top: -25px;
}
.accordion-card-store.active .accordion-body-store {
  display: block;
}
.accordion-body-store {
  display: none;
}
.accordion-body-custom .content {
  padding: 40px 20px;
}
.btn-pin {
  background-color: #000;
  padding: 5px;
  height: 50px;
  width: 50px;
  display: grid;
  place-content: center;
}
.btn-pin img {
  width: 30px;
  height: 30px;
}
.accordion-card-store.active .btn-pin {
  background-color: #9e7f32;
}
.accordion-card-store.active .action-detail {
  margin-top: 0;
}
.action-detail {
  margin-top: -25px;
}
.sub-accordion-card-body {
  display: none;
}
.sub-accordion-card-header.active span {
  transform: rotate(90deg);
  transition: 1s;
}
.sub-accordion-card-header span {
  transition: 1s;
}
/* Styling for the popup */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  cursor: pointer;
}
.popup img {
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.accordion-header-default {
  cursor: pointer;
}
.accordion-card-default.active .accordion-body-default {
  display: block;
}
.accordion-body-default {
  display: none;
}
.accordion-card-default.active .accordion-header-default img {
  transform: rotate(180deg);
  transition: 1s;
}
.card-address {
  position: relative;
  border: 1px solid #525252;
  background-color: #ededed;
}
.card-address.primary {
  border: 1px solid #9e7f32;
  background-color: #e7dfcc;
}
.card-address.primary:before {
  content: "";
  background-color: #9e7f32;
  height: 18px;
  width: 5px;
  position: absolute;
  left: 0;
}
/* ============================
            Aside 
==============================*/
.show-sidebar .aside {
  display: block;
  max-width: 578px;
  z-index: 99909;
  margin: 0 auto;
  width: 100%;
}
.aside {
  display: none;
}
/* ============================
            Card Item 
==============================*/
.card-item .title p {
  display: flex;
  gap: 5px;
  align-items: center;
}
.card-item .title p span {
  display: flex;
  gap: 5px;
  align-items: baseline;
}
.card-item .title p span:before {
  content: "";
  height: 5px;
  width: 5px;
  background-color: #000;
  border-radius: 100px;
}
.card-item .btn-show-accordion {
  transform: unset;
  transition: 1s;
}
.pickup {
  margin-top: 50px;
}
/* ============================
        Slider Popup Image 
==============================*/
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup img {
  max-width: 90%;
  max-height: 90%;
}

.slider-image {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.slider-image-item {
  scroll-snap-align: start;
  flex: 1 0 100%;
}

/* Hide scrollbar */
/* .slider-image::-webkit-scrollbar {
  display: none;
} */
.slider-image::-webkit-scrollbar {
  height: 10px;
}
/* Track */
.slider-image::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
.slider-image::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
.slider-image::-webkit-scrollbar-thumb:hover {
  background: #888;
}
.slider-position {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

/* ============================
            Navigation 
==============================*/
.navigation {
  background-color: #fff;
  max-width: 578px;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: 0 auto;
  z-index: 9998;
  padding-inline: 20px;
  border-top: 1px solid #d9d9d9;
}
.nav-list li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  text-decoration: none;
  position: relative;
}
.nav-list li a label {
  font-weight: 600;
}
.nav-list li a.active-nav {
  color: #9e7f32;
}
.nav-list a.active-nav svg path {
  stroke: #9e7f32;
  fill: #9e7f32;
}
.nav-list li:nth-child(2) a.active-nav svg path {
  stroke: #9e7f32;
  fill: none;
}
.nav-list li:nth-child(4) a.active-nav svg path {
  stroke: #9e7f32;
  fill: none;
}
.nav-list a svg path {
  stroke: #000;
}
.nav-list svg {
  height: 25px;
  width: 25px;
}
/* ============================
            Header 
==============================*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  max-width: 578px;
  z-index: 999;
  margin: 0 auto;
  background-color: #fff;
}
/* .summary-payment {
  position: fixed;
  width: 100%;
  max-width: 578px;
  z-index: 999;
  margin: 0 auto;
  background-color: #fff;
  bottom: 0;
} */
.nav-header {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image-profile {
  height: 24px;
  width: 24px;
}
.toggle-sidebar {
  background-color: transparent;
  outline: 0;
  border: 0;
  width: 45px;
  height: 20px;
}
.toggle-sidebar img {
  width: 45px;
  height: 20px;
}
/* ============================
          Header Section 
==============================*/
.search-box {
  overflow: hidden;
}
.btn-qr-code {
  top: 3px;
  transition: 1s;
  right: -25px;
}
/* .btn-qr-code:hover {
  right: 0;
  transition: 1s;
} */

/* ============================
            Login 
==============================*/
.login {
  background-image: url("/src/assets/Hero-Image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  padding-bottom: 200px;
  z-index: 1;
}
.login:after {
  content: "";
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(226, 232, 240, 0) 100%
  );
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.box-login {
  bottom: 50px;
  padding-inline: 35px;
  position: absolute;
  z-index: 9;
  padding-top: 100px;
}
.sign-in {
  background-image: url("/src/assets/Hero-Image2.png");
  padding-bottom: 50px;
}
.line-break {
  color: #fff;
  font-size: 20px;
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 1;
  line-height: 1px;
}
.line-break::before {
  content: "";
  top: 0;
  width: 100%;
  height: 2px;
  left: 0;
  position: absolute;
  background-color: #9e7f32;
  z-index: -1;
}
.line-break::after {
  content: "";
  top: 16px;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: #9e7f32;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.btn-greeting {
  font-size: 20px;
  color: #fff;
  height: 50vh;
  display: grid;
  place-content: center;
  width: 100%;
}
.btn-greeting:hover {
  background-color: #9e7f32;
}
/* ============================
            Layout 
==============================*/
header {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 578px;
  margin: 0 auto;
  z-index: 9999;
  padding: 10px 0 !important;
}
header img {
  max-width: 130px;
}
.layout {
  position: relative;
  min-height: 100vh;
  background-color: #fff;
}
@media (min-width: 1025px) {
  .layout {
    width: 100%;
    max-width: 578px;
    margin: 0 auto;
  }
}

.content {
  padding-top: 85px;
  background-color: #fff;
}
.paid-unpaid .unpaid-invoice #content1 {
  display: none;
}
.paid-invoice #content2 {
  display: none;
}
.paid-unpaid .paid-invoice #content2 {
  display: block;
}
.paid-unpaid .unpaid-invoice .btn-all-togle {
  font-size: 0;
}
.paid-unpaid .unpaid-invoice .btn-all-togle::after {
  font-size: 16px;
  content: "Show";
}
.paid-unpaid .paid-invoice .btn-all-togle {
  font-size: 0;
}
.paid-unpaid .paid-invoice .btn-all-togle::after {
  font-size: 16px;
  content: "Hide";
}
.form-input input::-webkit-outer-spin-button,
.form-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-input input::placeholder {
  font-size: 24px;
}
/* ============================
            Profile 
==============================*/
.cover:after {
  content: "";
  background-color: rgba(0, 0, 0, 0.45);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.current-progress {
  height: 8px;
  position: absolute;
  left: 0;
  top: 0;
}
.current-progress.gold-member {
  background-color: #9e7f32;
}
.current-progress.gold-member:after {
  content: "";
  height: 13px;
  width: 13px;
  display: block;
  position: absolute;
  right: -5px;
  top: -2px;
  background-color: #9e7f32;
  transform: rotate(45deg);
}
.current-progress.gold-silver {
  background-color: #bababa;
}
.current-progress.gold-silver:after {
  content: "";
  height: 13px;
  width: 13px;
  display: block;
  position: absolute;
  right: -5px;
  top: -2px;
  background-color: #bababa;
  transform: rotate(45deg);
}
.current-progress.gold-platinum {
  background-color: #000000;
}
.current-progress.gold-platinum:after {
  content: "";
  height: 13px;
  width: 13px;
  display: block;
  position: absolute;
  right: -5px;
  top: -2px;
  background-color: #000000;
  transform: rotate(45deg);
}
.progress-member {
  background-color: #d9d9d9;
  height: 8px;
  width: 100%;
  position: relative;
}
.status-member {
  position: absolute;
  bottom: 50px;
  width: 85%;
  z-index: 999;
  background-color: #fff;
  left: 50%;
  transform: translate(-50%, 50%);
}

.btn-upload {
  margin-top: -90px !important;
  width: 32px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  overflow: hidden;
  display: grid;
  place-content: center;
}
.btn-upload input {
  opacity: 0;
  width: 100%;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
}
.btn-upload button {
  z-index: 0;
  margin: 0 auto;
}
#preview {
  margin: 0 auto;
}
#preview img {
  height: 350px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
#preview:after {
  content: "";
  background-color: rgba(0, 0, 0, 0.45);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
/* ============================
        Slider Custom
==============================*/
.slider-custom {
  overflow-x: scroll;
  width: 100%;
  scroll-snap-type: x mandatory;
}
.slider-wrapper {
  display: flex;
  gap: 5px;
  scroll-snap-type: x mandatory;
}
.slide-item {
  width: 100%;
  flex: 1 0 80%;
}
.member-level {
  text-align: center;
  color: #fff;
  width: fit-content;
  margin: 0 auto;
  padding: 2px 25px;
  position: relative;
}
.member-silver:after {
  content: "";
  background-image: url("../../src/assets/silver2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20px;
  width: 40px;
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.member-gold:after {
  content: "";
  background-image: url("../../src/assets/queen2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20px;
  width: 40px;
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.member-platinum:after {
  content: "";
  background-image: url("../../src/assets/platinum2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20px;
  width: 40px;
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card.silver-member .card-membership img {
  background-color: #bababa;
}
.card.gold-member .card-membership img {
  background-color: #9e7f32;
}
.card.platinum-member .card-membership img {
  background-color: #000000;
}
.icon-benefit {
  width: 50px;
  height: 50px;
  display: grid;
  place-content: center;
}
.silver {
  background-color: #bababa;
}
.gold {
  background-color: #9e7f32;
}
.platinum {
  background-color: #000000;
}
.slide-item .card-body {
  display: none;
}
.slide-item.active .card-body {
  display: block;
}
.slide-item.active .card-membership img {
  transform: unset;
}
.card-membership img {
  transform: scale(0.9);
}
.membership .progress-stat-member {
  position: relative;
  background-color: #e4e4e4;
  height: 5px;
  width: 100%;
  display: block;
  margin: 15px 0;
  z-index: 0;
  overflow: hidden;
  display: none;
}
.membership .slide-item.active .silver-member .progress-stat-member {
  display: block;
}
.membership .slide-item.active .silver-member .progress-stat-member::after {
  content: "";
  height: 5px;
  width: 100%;
  background-color: #757575;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.membership .slide-item.active .gold-member .progress-stat-member {
  display: block;
}
.membership .slide-item.active .gold-member .progress-stat-member::after {
  content: "";
  height: 5px;
  width: 70%;
  background-color: #9e7f32;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.membership .slide-item.active .platinum-member .progress-stat-member {
  display: block;
}
.membership .slide-item.active .platinum-member .progress-stat-member::after {
  content: "";
  height: 5px;
  width: 70%;
  background-color: #e4e4e4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
/* width */
.slider-custom::-webkit-scrollbar {
  width: 10px;
}
/* Track */
.slider-custom::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
.slider-custom::-webkit-scrollbar-thumb {
  background: transparent;
}
/* Handle on hover */
.slider-custom::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
/* ============================
        Custom Toggle Switch
==============================*/

.toggle-wrapper {
  padding: 16px;
  position: relative;
}

.toggle-input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  outline: none;
}
.toggle-input:checked + label {
  background-color: #000;
}
.toggle-input:checked + label > .toggle-circle {
  left: calc(100% - 21px);
}
.toggle-input:checked + label > .toggle-circle .pin-icon {
  transform: rotate(0);
}
.toggle-input:checked + label > .toggle-circle .pin-top {
  -webkit-animation: pushPinTop 0.4s ease-in-out 0.55s;
  animation: pushPinTop 0.4s ease-in-out 0.55s;
}
.toggle-input:checked + label > .toggle-circle .pin-middle,
.toggle-input:checked + label > .toggle-circle .pin-bottom:before {
  -webkit-animation: pushPin 0.4s ease-in-out 0.55s;
  animation: pushPin 0.4s ease-in-out 0.55s;
}

.toggle-container {
  display: block;
  width: 44px;
  height: 17px;
  background-color: #d9d9d9;
  position: relative;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.35, 0.4, 0.45, 0.2);
}

.toggle-circle {
  position: absolute;
  top: 50%;
  left: -4px;
  transform: translatey(-50%);
  background-color: #9e7f32;
  width: 22px;
  height: 22px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  transition: all 0.3s cubic-bezier(0.33, 0.44, 0.45, 1.65);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #041043;
}
/* ============================
            Button 
==============================*/
.btn-white {
  font-weight: 300;
  background-color: #fff;
  color: #9e7f32;
  font-size: 16px;
  min-width: 170px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0px 15px 20px -16px rgba(0, 0, 0, 0.45);
}
.btn-gold {
  font-weight: 300;
  background-color: #9e7f32;
  color: #fff;
  font-size: 16px;
  min-width: 170px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0px 15px 20px -16px rgba(0, 0, 0, 0.45);
}
.btn-black {
  font-weight: 300;
  background-color: #000;
  color: #fff;
  padding: 10px 50px;
  font-size: 16px;
  min-width: 170px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
  box-shadow: 0px 15px 20px -16px rgba(0, 0, 0, 0.45);
}
.btn-confirmation {
  background-color: #afafaf;
  color: #fff;
  width: 115px;
  padding: 10px 20px;
  min-width: 115px;
}
.btn-action-custom {
  display: grid;
  place-content: center;
  position: absolute;
  width: 100px;
  background-color: #000;
  top: 0;
  font-size: 16px;
  height: 100%;
  right: 0;
  color: #fff;
}
/* ============================
          Form Control 
==============================*/

/* ============================
            Modals 
==============================*/
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-dialog {
  width: 100%;
  max-width: 578px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  position: relative;
}
.modal .card-body {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal .card-footer {
  text-align: center;
}
/* ============================
            Tabs 
==============================*/
.tab-content {
  padding: 10px 0;
}
.tab-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
}
@media (max-width: 679px) {
  .tab-header {
    overflow-x: scroll;
    width: 100%;
    white-space: nowrap;
  }
}
.tab-header::-webkit-scrollbar {
  height: 0;
}
.tab-header::-webkit-scrollbar-track {
  background-color: transparent;
}
/* Handle */
.tab-header::-webkit-scrollbar-thumb {
  background-color: transparent;
}
/* Handle on hover */
.tab-header::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}
.tab-header button {
  font-weight: 600;
}
.tab-btn {
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  position: relative;
  font-size: 16px;
}
@media (max-width: 678px) {
  .tab-btn {
    font-size: 14px;
  }
}
.tab-btn.active:after {
  content: "";
  background: #000;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.tab-btn.active {
  font-weight: bold;
}
/* ============================
            Timeline 
==============================*/
.timeline ul {
  padding-left: 25px;
}
.timeline ul li {
  position: relative;
  margin-bottom: 10px;
  min-height: 50px;
}
.timeline ul li::after {
  content: "";
  background-color: #afafaf;
  height: 8px;
  width: 8px;
  border-radius: 100px;
  position: absolute;
  left: -25px;
  top: 8px;
}
.timeline ul li:not(:first-child)::before {
  content: "";
  background-color: #afafaf;
  height: 75%;
  width: 1px;
  position: absolute;
  left: -21px;
  top: -36px;
}
.timeline ul li.done::after {
  background-color: #000;
}
.timeline ul li.done:not(:first-child)::before {
  background-color: #000;
}
.timeline ul li.confirm::after {
  background-color: #2da771;
}
.timeline ul li.waiting::after {
  background-color: #ffc700;
}
.timeline ul li.waiting:not(:first-child)::before {
  background-color: #000;
}
.timeline ul li.confirm:not(:first-child)::before {
  background-color: #000;
}
@media (max-width: 678px) {
  .timeline ul li h1 {
    font-size: 16px;
  }
  .timeline ul li p {
    font-size: 16px;
  }
}
.check-to-add {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.term-condition {
  height: 65vh;
  overflow-y: scroll;
  padding-bottom: 50px;
}
.term-condition::-webkit-scrollbar {
  height: 150px;
  width: 2px;
}
.term-condition::-webkit-scrollbar-track {
  background-color: #d9d9d9;
}
/* Handle */
.term-condition::-webkit-scrollbar-thumb {
  background-color: #3d3d3d;
}
/* Handle on hover */
.term-condition::-webkit-scrollbar-thumb:hover {
  background-color: #3d3d3d;
}
/* ============================
            Timeline 
==============================*/
.panel {
  margin-top: 10px;
}
.toggle-btn {
  cursor: pointer;
}
.no-invoice p span::after {
  content: ".";
  font-weight: bold;
  font-size: 30px;
}
.no-invoice p {
  line-height: 12px;
}
.accordion-card-custom.active .accordion-header-custom .btn-show-accordion img {
  transform: rotate(180deg);
  transition: 1s;
}
.accordion-body-custom {
  display: none;
}
.accordion-card-custom.active .accordion-body-custom {
  display: block;
}
.accordion-card .accordion-body {
  display: none;
}
.accordion-card.active .accordion-body {
  display: block;
}
.btn-show-accordion {
  transform: rotate(180deg);
  transition: 1s;
}
.btn-show-accordion.active {
  transform: rotate(0deg);
  transition: 1s;
}
.btn-load-more img {
  transform: rotate(358deg);
  transition: 1s;
}
.btn-load-more:hover img {
  transform: rotate(269deg);
  transition: 1s;
}
.invoice {
  height: 50vh;
  overflow-y: scroll;
  padding-bottom: 150px;
}
.add-invoice {
  height: 65vh;
}
@media (max-height: 667px) {
  .invoice {
    padding-bottom: 250px;
  }
}
.invoice::-webkit-scrollbar {
  width: 0;
}
.invoice::-webkit-scrollbar-track {
  background-color: transparent;
}
/* Handle */
.invoice::-webkit-scrollbar-thumb {
  background-color: transparent;
}
/* Handle on hover */
.invoice::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}
.invoice .btn-min {
  display: none;
}
/* .invoice.active .btn-plus {
  display: none;
}
.invoice.active .btn-min {
  display: block;
} */
label .check-to-add:checked ~ button .btn-plus {
  display: none;
}
label .check-to-add:checked ~ button .btn-min {
  display: block;
}
label .check-to-add ~ button .btn-min {
  display: none;
}
.invoice.active .add-to-payment {
  display: block;
}
.add-to-payment {
  display: none;
}
.btn-detail-item {
  transform: rotate(179deg);
  transition: 1s;
}
.add-to-payment.active .btn-detail-item {
  transform: rotate(0);
  transition: 1s;
}
.list-item-invoice {
  margin-bottom: 50px;
}
.add-to-payment.active .list-item-invoice {
  display: none;
}
.add-to-payment.active .summary-invoice {
  padding-top: 0;
}
.add-to-payment.active .total-payment {
  border-top: 0;
}
.togle-add-point .switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 18px;
}

.togle-add-point .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.togle-add-point .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.togle-add-point .slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 2px;
  background-color: #9e7f32;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.togle-add-point input:checked + .slider {
  background-color: #b4b4b4;
}

.togle-add-point input:focus + .slider {
  box-shadow: 0 0 1px #b4b4b4;
}

.togle-add-point input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}
.accordion-payment .summary-payment {
  display: none;
}
.accordion-payment.active .summary-payment {
  display: block;
}
.accordion-payment.active .total-payment {
  border-top: 1px solid #fff;
  padding-top: 1.25rem;
}
.accordion-payment.active .arrow-hide {
  display: none;
}
.accordion-payment .total-payment {
  border-top: 0;
  padding-top: 0;
}
.list-bank {
  height: 200px;
  overflow-y: scroll;
}
.qirs-item {
  height: auto;
}
.list-bank ::-webkit-scrollbar {
  width: 1px;
}
.item-bank {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
  padding-left: 15px;
  z-index: 1;
}

.list-bank input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 30px;
  height: 1.15em;
  border: 0.15em solid transparent;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
.list-bank input[type="radio"]:checked::before {
  transform: scale(1);
  background-color: #efefef;
  height: 50px;
  width: 50px;
}

.list-bank input[type="radio"]:focus {
  content: "";
  background-image: url("../assets/Ok.png");
  height: 30px;
  width: 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.list-bank ::-webkit-scrollbar-track {
  background-color: #d9d9d9;
}
/* Handle */
.list-bank ::-webkit-scrollbar-thumb {
  background-color: #3d3d3d;
}
/* Handle on hover */
.list-bank ::-webkit-scrollbar-thumb:hover {
  background-color: #3d3d3d;
}
.item-bank .title-bank {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
  width: 100%;
}
.item-bank.active .title-bank:before {
  content: "";
  position: absolute;
  background-color: #efefef;
  width: 100%;
  height: 100%;
  z-index: -1;
  right: 0;
}
.bank.active {
  background-color: #f8f8f8;
}
.qris.active {
  background-color: #f8f8f8;
}
.pickup .checkmark {
  position: relative;
  left: 0;
  height: 20px;
  width: 30px;
}
.pickup .select-invoice-delivery .checkmark {
  top: -10px;
  left: 0;
  height: 20px;
  width: 20px;
}
.search-box-map {
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-pay-custom {
  background-color: #000;
  color: #fff;
  width: 85px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
/* .card.pay-item {
  background-color: #d3d3d3;
  color: #8b8b8b;
}
.card.pay-item p {
  color: #8b8b8b;
}
.card.pay-item label {
  display: none;
} */
.card.pay-item input:checked ~ .btn-check label button {
  display: none;
}
.card.pay-item input:checked + .card.pay-item::after {
  content: "";
}
.card.pay-item input:checked ~ .btn-check .no-invoice p {
  color: #8b8b8b;
}
.card.pay-item input:checked ~ .btn-check {
  z-index: 1;
  position: relative;
}
.card.pay-item input:checked ~ .btn-pay-item .btn-pay-custom {
  z-index: 3;
}
.card.pay-item input:checked ~ .btn-check .no-invoice h1 {
  color: #8b8b8b;
}
.card.pay-item .bg-check {
  display: none;
}
.card.pay-item input:checked ~ .bg-check {
  display: block;
  background-color: #d3d3d3;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.card.pay-item input:checked ~ .btn-pay-item .btn-pay-custom {
  display: block;
}
.card.pay-item .btn-pay-custom {
  display: none;
}
.card.pay-item .check-to-add {
  width: 15%;
  z-index: 9;
  left: -4px;
  top: 0;
}
.card.pay-item .btn-min {
  display: none;
}
/* ============================
        Calendar
==============================*/
#currentMonth {
  font-weight: 500;
}
.date-time .calendar {
  display: inline-block;
  width: 100%;
}
.date-time .calendar-header {
  text-align: center;
  margin-bottom: 10px;
}
.date-time .calendar-table {
  width: 100%;
  border: 0;
}
.date-time .calendar-table th,
.date-time .calendar-table td {
  padding: 5px;
  text-align: center;
}
.date-time .active-date {
  background-color: #000;
  border-radius: 10px;
  color: #fff;
}
.hidden-dropdown-calender {
  display: none;
}
.date-time .dropdown-calender {
  position: absolute;
  color: #fff;
  background-color: #000;
  padding: 10px;
  top: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 250px;
}

/* ============================
         Tabs Styling
==============================*/
#tabs {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: center;
  background-color: #f9f9f9;
}
.tab-btn {
  padding: 20px 0;
  position: relative;
}
.tab-btn.active {
  font-weight: bold;
  color: #fff;
  background-color: #000;
}
.tab-btn.active::after {
  z-index: 0;
  content: "";
  position: absolute;
  left: 0;
  top: -7px;
  width: 100%;
  height: 120%;
  font-weight: bold;
  color: #fff;
  border: 10px solid #000;
}
.tab-content-panel {
  display: none;
  margin-top: 25px;
}
.tab-content-panel.active {
  display: block;
}
.tab-btn {
  text-align: center;
  cursor: pointer;
  color: #000;
  display: grid;
  place-content: center;
  font-size: 18px;
}
.tab-btn h1 {
  position: relative;
  z-index: 9;
}
/* ============================
          Form Control 
==============================*/
/* radio custom */
.radio-custom {
  margin-bottom: 10px;
  border: 2px solid #d9d9d9;
  height: 60px;
  display: flex;
  justify-content: left;
  align-items: center;
  z-index: 1;
  position: relative;
}
.radio-custom.active {
  border: 2px solid #9e7f32;
}
.radio-custom input[type="radio"] {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.radio-custom input[type="radio"] + label {
  cursor: pointer;
  padding-left: 15px;
  font-size: 16px;
  width: 100%;
}
.radio-custom input[type="radio"] + label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  position: relative;
  top: 4px;
  border: 2px solid #d9d9d9;
  border-radius: 50%;
}
.radio-custom input[type="radio"]:checked + label:before {
  background-color: #9e7f32;
  border: 2px solid #fff;
  outline: 2px solid #9e7f32;
  padding: 2px;
}
.radio-custom input[type="radio"]:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #9e7f32;
}
.radio-custom input[type="radio"]:disabled + label {
  color: #000000;
  cursor: not-allowed;
}
/* custom select */
.custom-select {
  position: relative;
  z-index: 3;
}
.custom-select:after {
  content: "";
  background-image: url("../../src/assets/chevron-down.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 15px;
  right: 10px;
  transition: 1s;
  z-index: 10;
}
.custom-select.active:after {
  transform: rotate(180deg);
}
.custom-select:before {
  content: "";
  background-color: #9e7f32;
  height: 65px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.select-selected {
  width: 100%;
  background-color: #000000;
  padding: 15px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: left;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  z-index: 10;
  position: relative;
}

.select-selected:focus {
  outline: none;
}

.select-items {
  position: absolute;
  background-color: #9e7f32;
  border-radius: 4px;
  color: #fff;
  width: 100%;
  z-index: 5;
  display: none;
  top: 45px;
  z-index: 0;
  padding: 15px;
}

.select-items div {
  padding: 8px 0;
  cursor: pointer;
}
.select-items div:not(:last-child) {
  border-bottom: 0.05rem solid #fff;
}
.select-items div:hover {
  background-color: #ddd;
}
.custom-form {
  height: 53px;
}
.custom-form:after {
  content: "";
  background-color: #9e7f32;
  height: 65px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.select-form::after {
  height: 55px;
}
.input-form-custom::after {
  height: 75px;
}
.form-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-input label {
  font-weight: 600;
}
.form-input input::placeholder {
  font-size: 16px;
  font-weight: 200;
}
.login .form-control {
  background-color: #000000;
}
.form-control {
  font-family: Gill-Sans;
  width: 100%;
  position: relative;
  background-color: #efefef;
  color: #7b7b7b;
  padding: 20px 15px;
  height: 60px;
  font-size: 16px;
  font-weight: 200;
}
.form-control:focus {
  outline: 0;
  border: 0;
  border-radius: 0;
}
.form-control::placeholder {
  font-weight: 100;
  font-size: 16px;
}
select.form-control {
  padding: 17px;
}
.progress-bar .progress-step.active-progress {
  background-color: #9e7f32;
}
.progress-bar .progress-step {
  background-color: #d9d9d9;
}
/* For review page */
.radio-btn-review {
  position: relative;
}
.radio-btn-review input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.radio-btn-review input:checked ~ label svg {
  fill: #b99d56;
}
.radio-btn-review input:checked label svg path {
  stroke: #9e7f32;
}
/* ============================
          Toogle Dropdown 
==============================*/
.dropdown {
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  right: 0;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.content-add-file {
  bottom: 50px;
  background-color: #e2e2e2;
  width: 53vh;
  right: -40px;
}
@media (max-width: 679px) {
  .content-add-file {
    width: 36vh;
  }
}
.upload-btn-wrapper {
  position: relative;
  text-align: center;
}
.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}
.dropbtn {
  cursor: pointer;
}
.dropbtn.custom .arrow {
  transition: 1s;
}
.dropbtn.custom.active .arrow {
  transition: 1s;
  transform: rotate(90deg);
}
.dropdown-content.detail-order {
  box-shadow: none;
  position: relative;
  border: 1px solid #efefef;
  padding: 15px;
  margin: 25px 0;
}
/* ============================
         Chat Page
==============================*/
.chat-header {
  position: fixed;
  width: 100%;
  max-width: 578px;
  z-index: 999;
  margin: 0 auto;
  background-color: #fff;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.chat {
  padding-top: 50px;
}
.chat-bar {
  padding-bottom: 50px;
  background-color: #fff;
  margin: 0 auto;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 20%);
}
.chat-box {
  padding-bottom: 150px;
}
.chat-cs {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
  align-items: end;
}
.chat-cs .pict {
  margin-bottom: 25px;
}
.chat-cs .message .text-message {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-weight: 200;
  position: relative;
}
.chat-cs .message .text-message:last-child:before {
  content: "";
  height: 10px;
  width: 10px;
  position: absolute;
  left: -6px;
  top: 32px;
  background-color: #000;
  z-index: 9;
  transform: rotate(45deg);
}
.chat-me {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
  flex-direction: row-reverse;
  align-items: end;
}
.chat-me .flex-initial {
  flex: 1 1 auto;
}
.chat-me .pict {
  margin-bottom: 20px;
}
.chat-me .message .text-message {
  background-color: #eeeeee;
  color: #000;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-weight: 200;
  position: relative;
}
.chat-me .message .text-message:last-child:after {
  content: "";
  height: 10px;
  width: 10px;
  position: absolute;
  right: -7px;
  bottom: 18px;
  background-color: #eeeeee;
  z-index: 9;
  transform: rotate(45deg);
}
.open-chat {
  position: absolute;
  width: 55%;
  bottom: 100px;
  top: 50%;
  right: 50%;
  transform: translate(85%, -50%);
}
.opening-chat:before {
  content: "";
  background-color: #000;
  height: 15px;
  width: 15px;
  position: absolute;
  left: -7px;
  display: block;
  top: 28px;
  transform: rotate(45deg);
}
.option-chat {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 35px 0;
  align-items: flex-end;
}
.btn-option-chat {
  color: #9e7f32;
  border: 1px solid #9e7f32;
  width: 150px;
  text-align: center;
  padding: 10px 0;
}
.btn-option-chat:hover {
  background-color: #9e7f32;
  color: #fff;
}
.opening-chat {
  background-color: #000;
  color: #fff;
  padding: 10px;
}
.option-item {
  border: 1px solid #9e7f32;
  color: #9e7f32;
  width: 100%;
  padding: 5px 0;
  margin: 10px 0;
  display: block;
  text-align: center;
}
/* ============================
           Checkbox Custom
==============================*/
.checkbox-custom input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: -25px;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  border: 1 px solid #9e7f32;
}

.checkbox-custom:hover input ~ .checkmark {
  background-color: #fff;
}

.checkbox-custom input:checked ~ .checkmark {
  background-color: #9e7f32;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-custom input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-custom .checkmark:after {
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid #9e7f32;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.order .checkmark {
  position: relative;
  left: 0;
}
/* ============================
          Responsive 
==============================*/
@media (max-width: 678px) {
  .slider-image::-webkit-scrollbar {
    height: 0;
  }
  .heading .heading-left button img {
    height: 15px;
    width: 15px;
  }
  .heading .heading-right img {
    width: 50px !important;
    height: 50px !important;
  }
  .no-invoice h1 {
    font-size: 16px;
  }
  .aside-footer a {
    font-size: 18px;
  }
  .aside-footer button {
    font-size: 18px;
  }
  .aside-footer li img {
    width: 20px;
    height: 20px;
  }
  .no-invoice p {
    font-size: 16px;
  }
  .detail-invoice h1 {
    font-size: 16px;
  }
  .detail-invoice p {
    font-size: 16px;
  }
  .term-condition li {
    font-size: 16px;
  }
  .add-to-payment h1 {
    font-size: 16px;
  }
  .add-to-payment p {
    font-size: 16px;
  }
  .add-to-payment button {
    font-size: 16px;
    padding: 15px 0;
  }
  .btn-load-more {
    font-size: 16px;
    padding: 15px 0;
  }
  .add-to-pay {
    height: 15px !important;
    width: 15px !important;
  }
  .title-bank h1 {
    font-size: 16px;
  }
  .summary-payment h1 {
    font-size: 16px;
  }
  .summary-payment p {
    font-size: 16px;
  }
  .total-payment h1 {
    font-size: 16px;
  }
  .total-payment p {
    font-size: 16px;
  }
  .btn-white {
    font-size: 16px;
  }
  .btn-gold {
    font-size: 16px;
  }
  .btn-black {
    font-size: 16px;
  }
  .aside-nav li a {
    font-size: 18px;
  }
  .aside-nav li img {
    width: 20px;
    height: 20px;
  }
  .aside-nav li label img {
    width: 8px;
    height: 8px;
  }
}
